<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Saxon State and University Library Dresden (SLUB)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!--
        Configures the URL to be used when emitting URLs locating the actual content of
        a datastream. This is useful, if the Fedora Repository is not available at localhost:8080.

        If no 'fedora.content.url' is given, 'fedora.host.url' is used.

        This context-param is commented out to ensure there is no default setting
        which would otherwise hide the fact that there is no setting.
    -->
    <!--<context-param>-->
    <!--<param-name>fedora.content.url</param-name>-->
    <!--<param-value>http://localhost:8080/fedora</param-value>-->
    <!--</context-param>-->

    <servlet>
        <servlet-name>DisseminationServlet</servlet-name>
        <servlet-class>de.qucosa.zipdisseminator.DisseminationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisseminationServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
