<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Saxon State and University Library Dresden (SLUB)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!--
        Configures the URL to be used when emitting URLs locating the actual content of
        a datastream. This is useful, if the Fedora Repository is not available at localhost:8080.

        If no 'fedora.content.url' is given, 'fedora.host.url' is used.

        This context-param is commented out to ensure there is no default setting
        which would otherwise hide the fact that there is no setting.
    -->
    <!--<context-param>-->
    <!--<param-name>fedora.content.url</param-name>-->
    <!--<param-value>http://localhost:8080/fedora</param-value>-->
    <!--</context-param>-->

    <servlet>
        <servlet-name>DisseminationServlet</servlet-name>
        <servlet-class>de.qucosa.zipfiledisseminator.DisseminationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisseminationServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
